{% extends 'base.html' %}
 
{% block head %} 

   <title>Login</title>
{% endblock %}


{% block body %}
<div class="container">
    <div class="jumbotron">
           <h1>Password Reset</h1>
            <p>Password Reset 
                Goto Login Now? Enter your email address below, and we'll email instructions for setting a new one.</p>
       <form method="POST">
           {% csrf_token %}
           {{ form.as_p }}
           <button class="btn btn-secondary" type='submit'><a href="{% url 'login' %}">Login</a></button>
       </form>
   </div>
</div>

{% endblock %}