
<!-- BootStarp CDN -->
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/bootstrap.css' %}">
{% block head %}


{% endblock %}

{% if user.is_authenticated %}

<ul>
    <a href="/">Social</a>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
    <li><a href="{% url 'view_profile' %}">Profile</a></li>
    <li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
    <li><a href="{% url 'change_password' %}">Change Password</a></li>
</ul>
{% else %}

<ul>
    <a href="/">Social</a>
    <li><a href="{% url 'login' %}">Login</a></li>
    <li><a href="{% url 'register' %}">Register</a></li>
    <li><a href="{% url 'password_reset' %}">Reset Password</a></li>
</ul>

{% endif %}
{% block body %}


{% endblock %}